<h1><%= @article.title %></h1>

<article class="article"><%= @article.body %></article>

<hr>

<ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Delete", article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %></li>
</ul>

<hr>

<% if @article.comments.length > 0 %>
    <h2>Comments</h2>

    <%= render @article.comments %>
<% else %>
    <p><i>No comments</i></p>
<% end %>

<h2>Add a comment</h2>
<!-- Bug #1 -->
<%= render 'comments/form' %>
